@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss" ;
 /* now we have to apply this font to the entire application */
*{
  font-family: "Outfit", sans-serif;
}

@layer base{
  button{
    @apply cursor-pointer ;  
  }
}